:root {
    --bg-color: rgb(249 250 251);
    --border-color: rgb(229 231 235);
    --text-color: rgb(17 24 39);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
}

main {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    display: flex;
    gap: 2rem;
    height: 2.25rem;
}

input, select {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding-left: 0.625rem;
}

button {
    border: none;
    border-radius: 5px;
    padding: 0 0.625rem;
    cursor: pointer;
    background-color: rgb(96 165 250);
    color: white;
    text-transform: uppercase;
    height: 100%;
}

button:hover {
    background-color: rgb(30 64 175);
}

thead {
    text-align: left;
}

th, td {
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 0;
}

td {
    height: 4rem;
}

table {
    border-collapse: collapse;
}

.readBtn {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.readBtn:hover {
    background-color: rgb(212 212 212);
}

.deleteBtn {
    background-color: rgb(251 113 133);
}

.deleteBtn:hover {
    background-color: rgb(225 29 72);
}

tfoot {
    text-align: center;
}

.hiden {
    display: none;
}